VITE_HEDGIX_CONTRACT_ADDRESS=0x5cA80eB0744574aD2214291e89aA547168c28084
VITE_GENLAYER_NETWORK=testnetBradbury
VITE_GENLAYER_RPC_URL=https://rpc-bradbury.genlayer.com
VITE_GENLAYER_EXPLORER_URL=https://explorer-bradbury.genlayer.com
VITE_HEDGIX_REGISTRY_URL=https://hedgix-market-registry.netlify.app/hedgix-market-protection-registry.v1.json
